<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white" data-bs-toggle="collapse" href="#homeSubMenu" role="button" aria-expanded="false" aria-controls="homeSubMenu">
            Home
        </a>
        <div class="collapse" id="homeSubMenu">
            <ul class="nav flex-column ms-3">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </div>
    </li>
</ul>