@if((await _authorizationService.AuthorizeAsync(User, Policy.PurchaseEntry)).Succeeded)
{
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" data-bs-toggle="collapse" href="#purchaseSubMenu" role="button" aria-expanded="false" aria-controls="purchaseSubMenu">
                Purchase Billing
            </a>
            <div class="collapse" id="purchaseSubMenu">
                <ul class="nav flex-column ms-3">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Purchase" asp-action="SupplierList">Supplier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Purchase" asp-action="Index">Purchase</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
}