<div class="container">
    <h2 class="text-center my-4">Sales Management</h2>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>SubTotal</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tblSalesBody">
            </tbody>
        </table>
    </div>

    <div class="row mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="ddlProductName" class="form-label">Product</label>
                    <select id="ddlProductName" class="form-control"></select>
                    <span id="ddlProductNameError" class="text-danger d-none">Product is required.</span>
                </div>

                <div class="mb-3">
                    <label for="txtQuantity" class="form-label">Quantity</label>
                    <input id="txtQuantity" type="number" class="form-control" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Grand Total</label>
                    <h4 id="hdGrandTotal">0</h4>
                </div>
                <div class="mb-3">
                    <label for="txtDiscount" class="form-label">Discount</label>
                    <input id="txtDiscount" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Net Total</label>
                    <h4 id="hdNetTotal">0</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3 d-flex gap-2">
                <button id="btnSalesSave" type="button" class="btn btn-success w-50">Save</button>
                <a asp-action="Sales" class="btn btn-danger w-50">Cancel</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pos/sales.js" asp-append-version="true"></script>
}
